@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

/* Headers throughout - per Miguel's direction*/
h1, h2 {
  font-family: 'EB Garamond', serif;
}

/* Buttons throughout */
.btn-danger {
  background: #0b62ab !important;
  border: #0b62ab !important;
  
}

.selected {
  background: #0b62ab !important;
  border: #0b62ab !important;
  color: white !important;
}

/* Sidebar */
#app_sidebar {
  
  background-color: #f04e25 !important;
  
}

.navbar-vertical.navbar-expand-md {
                          overflow-y: hidden !important;
                          padding-left: 40px !important; 
                          padding-right: 40px !important;
}
/* Tab 1 */
.header-container {
                    position:absolute; 
                    top:0; 
                    bottom:0;
                    right:0; 
                    left:0;
                    }
     
/* Tab 1 Alt-A */               
.tab-1-header-container {
                    position:absolute; 
                    top:0; 
                    bottom:0;
                    right:0; 
                    left:0;
                    background-image: linear-gradient(to right, #f04e25 , #fdcc0e) !important;
}

.tab-1-about-container {
                position:absolute; 
                right:0; 
                left:0;
                overflow: hidden;
                padding: 100px;
                background-color: #5E72E4;
 }
 
 .tab-1-sponsors-container {
                position:absolute; 
                right:0; 
                left:0;
                overflow: hidden;
                padding: 100px;
                background-color: #172B4D;
 }
 
 .tab-1-sponsors-column {

   display: block;
   margin-left: auto;
   margin-right: auto;
   color: white;
   text-align: center;
 }

/* Tab 2 Alt A*/                    
.tab-2-header-div {
                    position:absolute; 
                    right:0;
                    left:0;
                    top:0;
                    overflow-x: hidden;
                    background-image: linear-gradient(to right, #f04e25,  #9e1d23);
                    }
                    
 #region_pop {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#region_latinx_pop {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#region_pc_latinx {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.map-container {
                position:absolute; 
                right:0; 
                left:0;
                overflow: hidden;
                padding: 40px 20px 40px 20px; 
                background-color: #e9ecef;
 }
 
.map-btn-container {
                    position: absolute; 
                    z-index: 1; 
                    padding-top: 155px;
}

/* Tab 4*/                    
.tab-4-header-div {
                    position:absolute; 
                    right:0;
                    left:0;
                    top:0;
                    overflow-x: hidden;
                    background-image: linear-gradient(to right, #EA445B,  #5E72E4);
                    }
                    
.tab-4-row-1 {
                position:absolute; 
                right:0; 
                left:0;
                overflow: hidden;
                width: 100%;
                padding: 0px 10px 0px 10px !important;
                margin-left: 0px !important;
                margin-right: 0px !important;
                height: 600px !important;
 }
 
.tab-4-row-2 {
                /*position:absolute;
                overflow: hidden;*/
                right:0; 
                left:0;
                text-align: center;
                /*width: 100%;*/
                margin-top: 200px !important;
                padding-top: 600px !important;
                margin-left: 0px !important;
                margin-right: 0px !important;
                background-color: transparent;
 }